.photos{
    width: 100%;
    max-width: 880px;
    margin:4% auto;
    padding: 0.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;
    box-sizing: border-box;
}
.photos__grid-item{
    max-width: 282px;
    flex-direction: column;
    height: 361px;
    display: flex;
    margin-right: 0;
    background-color: aliceblue;
    border-radius: 10px;
    position: relative;
}
.photos__image-item{
    max-width: 282px;
    height: 282px;
    border-radius: 10px;
    object-fit: cover;
}
.photos_me-gusta{
    width: 21px;
  color: black;
  position: absolute;
  bottom: 30px;
  right: 18px;
  width: 21px;
  height: 19px;
}


.photos__parrafo{
color: black;
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 29.05px;
text-align: left;
margin-left: 21px;

}

@media screen and (max-width: 768px) {
    .photos{
        max-width: 768px;
        padding: 8%;
        margin:auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        grid-gap:25px;
    }
}
