.popup__add {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.popup_opened {
  display: block;
}

.popup__add-div {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.popup__add-form {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 10px;
  opacity: 0px;
}
.popup__add-form input {
  width: 358px;
  height: 15%;
  margin: auto;
  border: none;
  outline: 0px;
  border-bottom: 1px solid rgb(196, 196, 196, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.popup__add-form h2 {
  width: 358px;
  margin: auto;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.content__profile-editar {
  display: fixed;
  padding: 2px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 30px;
}
.popup__addCard-save {
  background: rgba(0, 0, 0, 1);
  border-radius: 2px;
  width: 358px;
  height: 51px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.popup__addCard-close {
  background: none;
  margin-left: 30%;
  border: none;
  color: rgba(255, 255, 255, 1);
  width: 40.7px;
  height: 40.7px;
  gap: 0px;
  opacity: 0px;
  font-size: 30px;
}
.popup__addCard-close:hover {
  background: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 768px) {
  .popup__add-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    opacity: 0px;
  }
  .popup__add-form input {
    width: 90%;
  }

  .content__profile-editar {
    display: fixed;
    padding: 2px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 30px;
  }
  .popup__addCard-save {
    width: 80%;
  }
  #popup__addCard-close {
    margin-top: 5%;
    margin-left: 80%;
  }
  #popup__addCard-close:hover {
    background: rgba(0, 0, 0, 1);
  }
}
